//Theme Color
@mixin theme($theme-color) {
  .footer-cta,  .sidebar, .form-button, #site-navigation a:before  {
   background-color: $theme-color;
  }
  .dropdown.menu .is-active > a {
    color:$theme-color;
  }
  .line {
    fill: $theme-color; 
    stroke:$theme-color;
    stroke-width:1px;
  }
  .menu a:hover:not(.button), #menu-main .active > a  {
    border-bottom: 5px solid $theme-color;
  }
  .highlight{
    color: $theme-color;
  }
  p a {
    color: $theme-color;
      &:hover { 
        background-color: rgba( $theme-color, 5% );
        color: $white;
      }
   }
   .divider{
    border-bottom: 3px solid $theme-color;
  }
 }

 // Linear Gradient
 @mixin linear-gradient($direction, $color-stops...) {
   background: nth(nth($color-stops, 1), 1);
   background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
   background: linear-gradient($direction, $color-stops);
 }

//Button Color
@mixin btn-color($button-color) {
  button{
  background-color: $button-color;
  &:after{
    filter: drop-shadow(0 2px 1px darken($button-color, 10%));
  }
    &:hover {
      background-color: darken($button-color, 8%);
      filter: drop-shadow(0 2px 1px darken($button-color, 15%));
    }
    &:active {
      filter: drop-shadow(0 2px 1px darken($button-color, 15%));
    }
  }
 }
  // Blog Posts Categories
  @mixin cat-color($cat-color) {
    .divider{
      border-color: $cat-color;
    }
    .category a, .button{
      background-color: $cat-color;
    }
    .overlay:before{
      background-color: darken($cat-color,6%);
    }
    .highlight{
      color: $cat-color;
    }
  }