//Category bkg colors
.category-uncategorized{
    @include cat-color(darken($brand-beige, 25%));
  }
  .category-health, .category-love{
    @include cat-color($brand-red);
  }
  .category-work-service, .category-home{
    @include cat-color($brand-blue);
  }
  .category-spirit{ 
    @include cat-color($brand-yellow);
  }
  .category-relationships{
    @include cat-color($brand-pink);
  }