.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Theme Overrides
p strong, p b {
    font-weight: 500;
}
.title-bar {
    padding: 0.5rem;
    color: $white;
}
u{
  border-bottom: 0px solid $light-gray;
    box-shadow: inset 0 -8px 0 $light-gray;
    color: inherit;
    text-decoration: none;
}
header .entry-title{
    text-transform: uppercase;
    font-family:$alt-font-family;
    font-weight: 400;
}
header .entry-title .highlight, header .tagline .highlight{
    font-family: $highlight-font;
    font-size: larger;
}
#front-hero h1 {
    color: $body-font-color;
    font-weight: 500;
}
#featured-hero{
  display:flex;
  align-items: center;
  justify-content: center;
  .entry-title{
    @include breakpoint(small) {
      font-size: 2.3rem;
    }
    @include breakpoint(medium) {
      font-size: 4.6em;
    }
  }
}



 input, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: none;
    height: auto;
    outline: 0px;
    padding: 1rem;
    vertical-align: bottom;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 0px red;
    &:focus{
      outline: none;
    }
}
.row {
    margin-top: 2rem;
}
aside{
  margin: 2rem 0;
  padding: 4rem 0;
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  opacity:.5;
}
p{
  font-size: 1.2rem;
}