.button{
  box-shadow: none;
  border: none;
  font-weight: bold;
  letter-spacing: .5px;
  padding: .8rem 1.3rem;
}
.sites-button {
  background: $primary-color;
  font-size: 1.25rem;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
}
.form-button {
  color: $white;
  padding: 1.1rem 1rem 1.2rem;
  font-size: 1.2rem;
  margin-top: 10px;
}
.depth{
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
