.featured-hero {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center top;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: rem-calc(200);
  .entry-title{
  @include xy-grid-container; 
  z-index: 1;
  h1{
    font-family: $alt-font-family;
  }
    @include breakpoint(small) {
      h1{
        font-size: 2.3rem;
        line-height: 2.8rem;
      }
    }
    @include breakpoint(medium) {
      h1{
      font-size: 4.6em;
      line-height: 5.6rem;
      }
      
    }
  }
  @include breakpoint(medium) {
    height: rem-calc(400);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(600);
  }
}
.blog{
  .featured-hero {
  .entry-title{
    h1{
      margin-bottom: 2rem; 
    }
    h3{
      font-size: 1.1875rem; 
      text-transform: uppercase;
    }
    .highlight{
      font-weight: 700;
      font-size: 2.2rem;
    }
  }
}
}