// Main Blog Page
.blog{
   @include theme($brand-pink);
   .featured-hero{
    background-color: gray;
    background-blend-mode: luminosity;
   } 
   .main-content{
    @include xy-grid-container;
    @include xy-grid;
      .post{
        position: relative;
        background-color: $brand-beige;
        &:first-child{
          display: none;
        }
        .visual{
          width: 100%;
          overflow: hidden;
          background-size: cover;
          background-position: 50%;
          padding: 0 1rem;
          display:flex;
          position: relative;
          background-color: gray;
          background-blend-mode: luminosity;
          h3{ 
            align-self: flex-end;
            z-index: 1;
            background-color: $brand-beige;
            padding: .8rem .8rem 0; 
          }
        }
        h3{
          font-weight: 600;
          margin-bottom: 0;
        }
        p{
          padding-bottom: .5rem;
        }
        .category a{
          padding: .5rem 1rem;
          color: $white;
          font-weight: 600;
          letter-spacing: .06em;
          font-size: .9rem;
        }
        @include breakpoint(small) {
          .visual{
            height: 10rem;
          }
  
        }
        @include breakpoint(medium) {
          .visual{
            height: 13rem;
          }
          h3{
            font-size: 1.4rem;
            line-height: 1.9rem;
          }
        }
        .postinfo{
          padding:1rem 2rem 0;
        }
        .noimg{
          padding: 2rem 2rem 0;
        }
        h3 a{
          color: $black;
        }
        @include breakpoint(small) {
          @include xy-cell(12);
          margin-bottom: 1.2rem;
        }
        @include breakpoint(large) {
          @include xy-cell(6);
          margin-bottom: 2rem;
          }
          @include breakpoint(xlarge) {
            @include xy-cell(4);
            margin-bottom: 2rem;
           
            }
      }

  }
  .featured-hero.overlay:before{
    background-color: darken($brand-beige, 6%);
  }
}
// Single Blog
.single-post{
  .entry-title{
    background-color: $white;
    align-self: flex-end;
    padding: 1rem 2rem 0;
    h1{ 
    text-align: left;
    }
  }
  .main-content {
    @include breakpoint(medium) {
      @include xy-cell(8); 
    }
  }
  p{
    font-size: 1.2rem;
  }
}
