.sep{ 
	font-family: $body-font-family;
	//background-color: $brand-beige;
	@include theme($brand-yellow);
	a{ color:$brand-yellow; }
	.button{
		margin-top: 1rem;
		background-color:$brand-red;
			a{ color: $white;}
	}
	.grid-view article .description .time time, .grid-view article .description h4.location a{
		font-size: 1rem;
	}
	.event_name{
		padding: .5rem 2rem 1rem;
		background-color: $brand-yellow;
			h3{
			font-weight: 700;
			}
			a{
			color: $white;
			}
	}
	.event_card{
		border-radius: 5px;
		background-color: $white;
	}
	.event_title{
		text-align: center;
	}

	.sep-detail .single-date{
		padding: 0 0 1rem;
		font-weight: 500;
		font-size: 1.2rem;
	}
	.single-event-details h2{
		text-transform: capitalize;
	}
	
	.list-view article .date, .grid-view article .date, .grid .search button, .sep-calendar .search button, .listing .search button, .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day-header, .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.dayWithEvents, .sep-detail .event-description .single-event-image .overlay-counter, .sep-detail .single-segments .segments-style .timeline, .list-view .btn.btn-primary, .list-view .btn.btn-primary:hover, .grid-view .btn.btn-primary, .grid-view .btn.btn-primary:hover, .pagination li a:hover, .pagination li span.current, .pagination li span.current:hover
	{background-color:$brand-yellow !important; }   
}