.home{  
  // Page header
  .front-hero {
    overflow: hidden;
    z-index: -1;
    .marketing {
      @include xy-grid-container(75rem);
      @include xy-grid;
    }
    /* BKGVID */
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 0;
    }
    video::-webkit-media-controls {
      display:none !important;
    }
    .highlight{
      display: inline-block;
      transform: rotate(-5deg);
    }
    @include breakpoint(small) {
      padding: rem-calc(65%) 0;
      height: auto;
      position: relative;
      text-align: left;
      margin-top: 0;
    }
    @include breakpoint(medium) {
      background: url('../images/bkgvid/poster.jpg') bottom center;
      background-size: cover;
      background-position: 50% 0;
      height: calc(100vh - 103px);
      //margin-top: -103px;
    }
    .tagline {
      @include breakpoint(small) {
        @include xy-cell(8);
        z-index: 1;
      }
      @include breakpoint(medium) {
        @include xy-cell(6);
        padding: 6rem 3rem 0 0;
      }
    }
    h1 {
      font-family: $alt-font-family;
      @include breakpoint(small) {
        font-size: 2.3rem;
      }
      @include breakpoint(medium) {
        font-size: 4.6rem;
        .highlight{
          font-size: 6.5rem;
        }
      }
    }
  }

  //CTA
  .cta {
    background-color: $brand-beige;
    .cta-container{
      position: relative;
      @include xy-grid;
      @include xy-grid-container;
    }
    .hook{
      text-align: center;
      margin-bottom: 2rem;
      h1{
        font-family: $alt-font-family;
        text-transform: uppercase;
      }
      h2{
        font-size:1.5rem;
      }
    }
    form{
      input{
        display: inline-block;
      }
    }
    @include breakpoint(small) {
      //background-color: $brand-pink; 
      padding: 2rem 0;
      .mm-form{
        @include xy-cell(12);
      }
      .gift{
        display: none;
      }
      input[type="email"],  input[type="submit"]  {
      width: 100%;
      border-radius: 5px;
      }
    }
    @include breakpoint(large) {
      //background-color: $brand-beige;
      .hook{
        h1{
          font-size:4rem;
        }
      }
      padding: 2rem 0 0;
      .mm-form{
        @include xy-cell(9);
      }
      .gift {
        display: inline-block;
        margin-top: -3rem;
        @include xy-cell(3);
        img{
          max-width: 229px;
          height: auto;
          //filter: drop-shadow(0 0 25px $brand-yellow);
        }
      }
      input[type="email"] {
        background-color: darken($brand-beige, 5%);
      width: calc(100% - 10rem);
      border-radius: 5px 0 0 5px;
      }
      input[type="submit"] {
        width: 10rem;  
        border-radius: 0 5px 5px 0;
      }
    }
  }

  // Intro
  .intro {
    @include xy-grid-container;
    @include xy-grid;
    .fp-intro {
      @include breakpoint(small) {
        @include xy-cell(12);
      }
      @include breakpoint(medium) {
        @include xy-cell(10);
        @include xy-cell-offset(1);
        h2 {
          font-weight: 300;
          margin-bottom: 1.5rem;
        }
        h4 {
          font-size: 1.125rem;
          line-height: 1.6;
          color: #777;
          margin-bottom: 2rem;
        }
      }
    }
  }

  // Benefits
  .benefits {
    text-align: center;
    color: $brand-beige;
    background-color: $brand-red;
    padding: 4rem 0;
    .morelove{
      @include xy-grid;
      @include xy-grid-container;
      header {
        @include xy-cell(12);
        h1 {
          font-weight: 700;
          color: $brand-beige;
        }
        h2 {
          font-family:$alt-font-family;
          font-weight: 700;
          letter-spacing: 14px;
        text-transform: uppercase;
        color: $brand-beige;
        }
      }
      .events,
      .membership,
      .community {
        @include breakpoint(small) {
          @include xy-cell(12);
        }
        @include breakpoint(medium) {
          @include xy-cell(4);
        }
        @include btn-color($brand-red);
        .button{
          background-color: darken($brand-red, 5%);
          //border-radius: 8px;
          padding: 1rem;
          width: 60%;
          font-size: 1.1rem;
        }
        img {
          border-radius: 50%;
          height: 15rem;
          width: 15rem;
          padding: 1.25rem;
          margin: 1rem auto 0 auto;
          object-fit: cover;
        }
        h3 {
          font-weight: 300;
          font-size: 1.75rem;
          font-weight: 700;
          letter-spacing: .7px;
        }
        p {
          font-size: 1rem;
          
        }
      }
      @include breakpoint(small) {
        h1 {
          font-size: 1.6rem;
        }
        h2 {
          font-size: 4rem;
        }
      }
      @include breakpoint(medium) {
        h1 {
          font-size: 3.4rem;
        }
        h2 {
          font-size: 6rem;
        }
      }
    } 
  }

  //Love Yourself First
  .lyf{
    padding: 4rem 0;
    .content{
      @include xy-grid-container;
      header{
        width: 100%;
        text-align: center;
        h1{
          color: $brand-pink;
          font-family: $highlight-font;
        }  
      }
      .blogposts{
        margin-top: 4rem;
        @include xy-grid;
        .posts{
          background-color: $brand-beige;
          //border-radius: 8px;
          img{
            //border-radius: 8px 8px 0 0 ;  
            background-size: cover;
            background-position: 50%;
          }
          a{
            color: $black;
          }
          .visual{
            //border-radius: 8px 8px 0 0 ;  
            width: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: 50%;
            padding: 0 1.5rem;
            display:flex;
            position: relative;
            h3{ 
              align-self: flex-end;
              z-index: 1;
              background-color: $brand-beige;
              padding: .8rem .8rem 0; 
              margin-bottom: 0;
            }
          }
          @include breakpoint(small) {
            @include xy-cell(12);
            margin-bottom: 1.2rem;
            .visual{
              height: 10rem;
            }
          
          }
          @include breakpoint(medium) {
            @include xy-cell(4);
            margin-bottom: 2rem;
            .visual{
              height: 13rem;
            }
          }
          .postinfo{
            padding:1.2rem 2rem 2rem;
            .divider{
              margin-left: 0;
              padding: 0;
            }
            p{
              margin-top:1rem;
            }
          }
          .noimg{
            align-content: center;
            padding: 2rem;
            h3{
              margin-bottom: 1rem;
            }
          }
        }
        @include breakpoint(small){
          .post-1,.post-2{
            @include xy-cell(12);
          }
        }
        @include breakpoint(medium){
          .post-1{
            @include xy-cell(4);
            background-color: $brand-yellow;
            .overlay:before{
              background-color: $brand-yellow;
            }
            h3{
              background-color: transparent !important;
              margin-bottom: 1rem !important;
            }
            .divider{
              border-color: $white;
            }
            .postinfo {
              padding-top: 0;
          }
            a{
              color: $white;
            }
          }
          .post-2{
            @include xy-cell(8);
            background-color:$white;
            filter: drop-shadow(0px 2px 3px $light-gray);
            h3{
              background-color:$white !important;
            }
          }
        }
      }
      @include breakpoint(small) {
        h1 {
          font-size: 4rem;
        }
      }
      @include breakpoint(medium) {
        h1 {
          font-size: 10rem;
        }
        h3{
          font-size:1.4rem;
          font-weight:700;
        } 
        p{
          font-size:1.1rem;
        }
      }
    }
  }

  //Instafeed
  .feed{
    text-align: center;
    padding: 4rem 0;
    #instafeed{
      @include xy-grid;
      a{
        img{
          width: 100%;
        }
        @include breakpoint(small) {
          @include xy-cell(6);
          margin-bottom: 1.2rem;
        }
        @include breakpoint(medium) {
          @include xy-cell(4);
          margin-bottom: 2rem;
        }
      }
    }
  }
}  