.main-content-full-width {
 aside {
  @include breakpoint(small) {
    width: calc(100vw);
    margin: 1rem 0 1rem calc(-1rem);
    padding:1rem;
    }
    @include breakpoint(medium) {
      width: calc(100vw);
      margin: 3rem 2rem 3rem calc((47rem - 100vw) / 2 );
      padding:3rem 0;
    }
    @include breakpoint(large) {
      width: calc(100vw);
      margin: 3rem 0 3rem calc((71.2rem - 100vw) / 2 );
      padding:3rem 0;
    }
   h1, h2, h3, h4, p{
    @include xy-grid-container;
    padding: 0 10px;
   } 
  }
}