.page-template-page-events-courses{
  
  .entry-content{
    @include xy-grid-container;
    section{
      @include xy-grid;
      a{color: $black;}
      .button{color: $white;}
      h2{text-align: center; margin-bottom: 2rem;}
      h2, .see_all{  @include xy-cell(12);}
    .eventlist{
      background-color: $brand-beige;
      //border: 1px solid $light-gray;
      padding: 1rem;
      margin-bottom: 1rem;
      @include xy-cell(12);
    } 
    .courselist{
      padding: 1rem;
      margin-bottom: 1rem;
      @include xy-cell(4);
    }
      @include breakpoint(small) {
        padding: 3rem 2rem;
      }
      @include breakpoint(large) {
        padding: 5rem;
      }
    }
  }
  .divider{ @include xy-grid-container;@include xy-grid; }
}