#page{
  margin-top:0;
  max-width: 100%;
  .main-content{
    padding-right: 0;
    padding-left: 0;
  }
}
.theme {
display: flex;
  @include grid-row();
  margin: 0;
  max-width: 100%;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
      left:0;
      .entry-content {
     padding:1rem;
       aside {
         width: calc(100% + 2rem);
           margin-left: -1rem;
              padding:1rem;
       }
    }
    }

    @include breakpoint(medium) {
      @include grid-column(8);
      @include grid-col-pos(4);
      left:0;
      .entry-content {
     padding:3rem;
      aside {
         width: calc(100% + 6rem);
           margin-left: -3rem;
              padding:3rem;
       }
    }
    }
    
  }
   @include breakpoint(small) {
     .sidebar{
     padding:1rem 0;
     margin: 0;
     .widget{
       padding: 1rem;
     }
     .post-meta{
       margin-left: 0;
    list-style-type: none;
    color:white;
   font-size: 3rem;
     }
    }
     
   }
      @include breakpoint(medium) {
.sidebar{
     padding:3rem 0;
     margin: 0;
     .widget, .post-meta{
       padding: 0 3rem 1rem ;
     }

    }
      }
  
}

//Contact
.contact{
  background: $brand-blue url('http://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;;
}
#page-full-width.contact {
  max-width: 100%;
  padding: 3rem;
  margin: 0;
}
.contact .entry-content{
      max-width: 595px;
    margin: 0 auto;
}

.contact input[type='submit'] {
    width: 100%;
    background-color: $brand-blue;
    color: $white;
    	border: none;
  border-radius: 5px;
	padding: 1em;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 900;
	outline: none;
	position: relative;
  &:hover{
   background-color: darken($brand-blue, 10%);
  }
}
.contact .entry-content header{
  color:white;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
}

//Default
.page-template, .page-template-default{
    @include theme($brand-blue);
}

//Red Theme
.page-template-page-red-theme {
  @include theme($brand-red);
}

//About
#about {
  @include theme($brand-red);
   
  aside{
    background:$brand-red;
    color: $white;
  }
  #footer-container {
  .footer-cta {
    .cta-row{
      @include btn-color($brand-blue);
    }
  }
  }
}
.page-template-contact {
  @include theme($brand-blue);
  .entry-title{
    background-color: rgba($brand-blue, .5);
    color:#fff;
    padding: .5rem 1rem;
  }
}
