.page-template-page-lyf{
	//Global
	.entry-title, .subtitle, .cta{
		width: 100%;
	}
  //Featured Hero
  .featured-hero{
    background-color: $brand-yellow;
    background-blend-mode: luminosity;
    .intro{
      z-index: 1;
      text-align: center;
      color: #fff;
    }
    .cta{
      @include btn-color($brand-blue);
      button{
        margin-top: 1rem;
        border-radius:4rem;  
        color: $white;
        text-transform: uppercase;
        font-weight: 900;
        @include breakpoint(small) {
          padding:1.5rem;
        }
        @include breakpoint(large) {
          padding: 2rem;
        }
      }
    } 
  } 
  .featured-hero.overlay:before{
    background-color: $brand-yellow;
  }
  //Content
  #page-events-courses {
    position:relative;
    h2{
      @include breakpoint(small) {
        font-size: 2rem;
      }
      @include breakpoint(large) {
        font-size: 2.5rem;
      }
    }
    p{
      font-size: 1.2rem;
		}
		.title{
			@include xy-cell(12);
			margin-bottom: 1rem;
		}
    .entry-content{
      position: relative;
    }
    section{
      z-index: 2;
			@include xy-grid-container;
			@include xy-grid;
      @include breakpoint(small) {
        padding: 3rem 2rem;
      }
      @include breakpoint(large) {
        padding: 5rem;
      }
    }
    //Quote
    .quotable{
      color:$brand-blue;
			text-align: center;
      align-items: center;
      h2{
        width: 100%;
      }
		}
		//Sell
    .sell{
      background-color: $brand-blue;
      color:#fff;
      .callouts{
				text-align: center;
				@include xy-cell(4);
        .heart{
          fill:$brand-pink;
          stroke:$white;
        }
        .casing{
          stroke:$white;
          fill:none;
        }
        @include breakpoint(small) {
          @include xy-cell(12);
				}
				@include breakpoint(medium) {
          @include xy-cell(6);
        }
        @include breakpoint(large) {
          @include xy-cell(4);
          span{
            display: block;
            width: 8rem;
            margin: 1rem auto;
          }
        }
      }
    }
    //Extras
    .extras{
      background-color: $brand-pink;
      background-blend-mode: luminosity;
      background-image:  url(../images/bkgimg/eventbg1.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
			color:#fff;
      .highlights{
        margin: 1rem 0;
        h4{
          font-size: 1.34rem;
          font-weight: 700;
          &::after{
            content: '';
            border-bottom: 2px solid $brand-yellow;
            width: 70px;
            margin-top: 10px;
            display: block;
          }
        }
        @include breakpoint(small) {
          @include xy-cell(12);
        }
        @include breakpoint(medium) {
        }
        @include breakpoint(large) {
          @include xy-cell(3);
        }
      }
    }
    .extras.overlay:before{
      background-color: $brand-pink;
      z-index: -1;
    }
    //Testimonials
    .testimonials{
      h2{
        color:$brand-yellow;
      }
      .testimony{
        margin-top: 1rem;
        @include breakpoint(small) {
          @include xy-cell(12);
        }
        @include breakpoint(large) {
          @include xy-cell(6);
        }
        p{
          margin: 0 0 0 95px;
        }
        blockquote{
          position: relative;
          padding: 1.5rem;
          color: $brand-beige;
          background-color: $brand-yellow;
          border: none;
          min-height: 13rem;
          font-size:  1.2rem;
          &:after {
          content: "";
            position: absolute;
            bottom: -40px;
            left: 40px;
            border-width: 0 32px 50px 0px;
            border-style: solid;
            border-color: transparent $brand-yellow;
            display: block;
            width: 0;
          }
        }
      }
    }
    //Outro
    .outro{
      background-image:  url(../images/bkgimg/eventbg2.jpg);
      background-color: $brand-blue;
      background-blend-mode: luminosity;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      color:$white;
      text-align: center;
      @include btn-color($brand-yellow);
      button{
        margin-top: 1rem;
        border-radius:4rem;  
        color: $white;
        text-transform: uppercase;
        font-weight: 900;
        @include breakpoint(small) {
          padding:1.5rem;
        }
        @include breakpoint(large) {
          padding: 2rem;
        }
      }
      .entry-title{
          text-transform: uppercase;
          font-family:$alt-font-family;
          font-weight: 400;
      }

      @include breakpoint(small) {
        .entry-title{
          font-size: 2.3rem;
        }
        h3{
          font-size:1.25rem;
        }
      }  
      @include breakpoint(medium) {
        .entry-title{
          font-size: 4.6em;
        }
        h3{
          font-size:2.5rem;
        }
      }
    }
    .outro.overlay::before{
      background-color: $brand-blue;
      z-index: -2;
    }
  }
}