.page-template-yoga{
    .entry-content{
        @include xy-grid-container;
    }
    .yoga-imgs{
        .yogi{
           width: 33.333%
        } 
        .yogi:first-child, .yogi:nth-child(2){
            width: 50%;
        }
    }  
    section{
              
              @include xy-grid;
          
        @include breakpoint(small) {
          padding: 3rem 2rem;
        }
        @include breakpoint(large) {
          padding: 5rem;
        }
      }
}