@include theme($brand-blue);

// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}
.title-bar {
  padding: 0.5rem;
  color: $white;
}
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($dark-nav-color, 5%);
  }
}

// Tablet and desktop menu

.top-bar {

  #logo{
    width: 250px;
  }
  padding: 10px;
  .top-bar-title a {
    font-size: 1rem;
    color: $black;
    padding-left: 1rem;
    line-height: 1.8;
  }
  .menu a {
    height: 45px;
    line-height: 45px;
    color: $black;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    

    &:hover:not(.button) {
      border-bottom: 5px solid $brand-blue;
    }
  }

  #menu-main a {
    position: relative;
    text-decoration: none;
    margin: 0 5px;
   &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

#menu-main .active > a  {
  border-bottom: 5px solid $brand-blue;
}

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  
  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
  .dropdown.menu .is-active > a {border-bottom: none;}
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
.title-bar, .top-bar, .top-bar ul {
  background:$white;
}
